table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    overflow-wrap: break-word;
}
th {
    background-color: #f0f0f0;
}
@media (max-width: 600px) {
    th, td {
        padding: 6px;
        font-size: 14px;
    }
}

.field-subject {
    font-size: 1em;
}

.field-sub {
    font-size: 0.5em;
}